*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
db_library/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
*.properties
